.app_header {
    background-color: rgba(255, 255, 255, 0.03);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link {
    font-size: 36px;
    font-weight: 600;
    color: #dcdadb;
    text-align: center;
}

.menu_button {
    height: 56px;
    width: max-content;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #dcdadb;
    transition: 0.15s;
    display: inline-block;
    font-size: 3em;
}
