.app_header {
    background-color: var(--bg4);
    border-bottom: 1px solid var(--border1);
    gap: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link {
    font-size: 36px;
    font-weight: 600;
    color: #dcdadb;
    text-align: center;
}

.menu_button {
    font-size: 36px;
    color: #dcdadb;
    display: inline-block;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s;
    width: max-content;
}

.menu_button:active {
    transform: scale(0.4);
}

@media (max-width: 768px) {
    .header_link {
        font-size: 28px;
    }
}
