.main_layout {
    height: 100vh;
    background: var(--bg1);
}

.content {
    flex: 1;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    padding: 10px;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: var(--bg1);
}
.content::-webkit-scrollbar-thumb {
    background-color: var(--bg3);
    border-radius: 10px;
}
