.main_layout {
    max-height: 100vh;
    background: radial-gradient(circle, #1f1d1b 0%, #100e0d 100%);
}

.content {
    flex: 1;
    position: relative;
    padding: 20px;
    max-height: 100vh;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: radial-gradient(circle, #1f1d1b 0%, #100e0d 100%);
}
.content::-webkit-scrollbar-thumb {
    background-color: #2a2422;
    border-radius: 10px;
}

.sider {
    background: rgba(20, 18, 16, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toggle_button {
    width: 100%;
    height: 5%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    color: #dcdadb;
    margin-top: auto;
    cursor: pointer;
}

.sidebar_link {
    padding: 10px 12px;
    color: #dcdadb;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.sidebar_button {
    padding: 10px 12px;
    color: #dcdadb;
    border-radius: 8px;
    transition: 0.2s;
    width: 100%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.sidebar_button:disabled {
    cursor: not-allowed;
}

.sidebar_link:hover,
.sidebar_button:hover {
    background: rgba(255, 255, 255, 0.08);
    color: #2196f3;
}
