.main_layout {
    min-height: 100vh;
    background: radial-gradient(circle, #1f1d1b 0%, #100e0d 100%);
}

.content {
    flex: 1;
    position: relative;
    padding: 20px;
}

.sider {
    background: rgba(20, 18, 16, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toggle_button {
    width: 100%;
    height: 5%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    color: #dcdadb;
    margin-top: auto;
    cursor: pointer;
}

.sidebar_link {
    gap: 5px;
    padding: 10px 12px;
    color: #dcdadb;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.sidebar_link:hover {
    background: rgba(255, 255, 255, 0.08);
}
