DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

JWT_ACCESS_SECRET=some_super_secret_access_key_32_chars_min
JWT_REFRESH_SECRET=some_super_secret_refresh_key_32_chars_min

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=change_me
MINIO_SECRET_KEY=change_me
MINIO_BUCKET=music